body{
  text-align: center;
}
select{
  display: block;
  border: solid 2px #101277;
  margin-top: 2px;
  border-radius: 5px;
  background-color: #f0f0fa;
}
.form-selects{
  display: flex;
  flex-wrap: wrap;
}
.selects{
  margin: 20px;
  margin-right: 0;
  text-align: left;
}
button{
  background-color: #f0f0fa;
  border: solid 2px #101277;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
}
.submit{
  margin-top: 20px;
}

.notification{
  margin-top: 20px;
}

table{
  width: 100%;
  border-spacing: 0;
  border-left: solid 1px #101277;
  border-top: solid 1px #101277;
  margin-bottom: 50px;
  margin-top: 10px;
}
td, th{
  padding: 10px;
  border-right: solid 1px #101277;
  border-bottom: solid 1px #101277;
  margin: 0;
}
th{
  background-color: #101277;
  color: white;
}
tr{
  background-color: rgb(241, 241, 241);
}
tr.darken{
  background-color: #f0f0fa;
}
main{
  min-width: 720px;
  margin: 0 25%;
  width: 50%;
}

.hidden{
  display: none;
}
